<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'kasaapp/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <title>KASA BLA</title>

    <style>
    #kasasearch{
    margin: auto;
    text-align:center;
    }
.unitbuttons{
    margin-left: 170px;
    margin-bottom:20px;
}
ul{
    list-style-position: inside;
    margin: 0;
    padding: 2px;
}

}
.title
{  margin:auto;
   text-align: center;
   margin-bottom: 2em;
   margin-top: 0.5em;
   }
.textboxtitle{
        border-style: outset;
        box-shadow: 10px 10px 5px grey;
        text-align: center;
        background-color: dodgerblue;
        border-radius: 7px;
        width: 100%;
        margin-bottom: 40px;
        margin-top: 40px;
        }

.review{
      border-style: outset;
      box-shadow: 10px 10px 5px grey;
      text-align: center;
      background-color: #d7d7d7;
      width: 80%;
      margin-top: 2em;
      margin-bottom: 2.5em;
      margin-left: 100px;
}
.reviewiteration{
      margin-top:20px;
      margin-bottom:20px;
      margin-left: 100px;
      margin-right: 20px;
}
.buttonselection{
      width:300px;
      height: 80px;
}
#draggable{
     text-align: center;
     cursor: move;
     list-style-type: none;
    }

.unitoperations{
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom:20px;
}


.blue_label {
  background-color: #5cbB5c;
  color: white;
  border: none;
  padding: 5px 5px;
}

.green_label{
background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 5px;
   text-align: center;
}


.red{
  background-color: red;
  color: white;
  border: none;
  padding: 5px 5px;
   text-align: center;

}

.orange_label{
    background-color: #ffc107;
    color: white;
  border: none;
  padding: 5px 5px;
   text-align: center;
      }

.buttondifferent {
  border: none;
  color: white;
  padding: 10px 14px;
  font-size: 10px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.buttondifferent:hover {
  background-color: Red;
}

.close1:hover{
    background-color: #dc3545; /* red */
	color: white
	cursor: pointer
	}
.Go_button:hover{
    cursor: pointer;
    background-color: #dc3545;;
    }

    .close1:hover{
    background-color: #dc3545; /* red */
	color: white
	cursor: pointer
	}
.Go_button:hover{
    cursor: pointer;
    background-color: #dc3545;;
    }


    </style>

</head>
<body>
<div>
    <!-- Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="index.html">KASA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="index.html" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Home
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="overview">Overview</a>
                        <a class="dropdown-item" href="riskeval">Risk Evaluation</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="summary">Risk Summary</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Save<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Print<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Validate<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Finalize<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Email</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Submit<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Audit</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                       id="searchbar">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>

    </nav>

    <h1 class="title">
        Knowledge-Aided Assessment and Structured Application
    </h1>
    <h4 style="margin-left: 20px">
        KASA BLA Overview
    </h4>

    <h5 class="textboxtitle">
        BLA Information
    </h5>
    <form action="" method="post" id="overviewForm" name="overviewForm">
        {% csrf_token %}
        <!-- NDA Basic Information-->
        <div class="p-3"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div>
                        <label>Application path:</label>
                    </div>
                </div>
                <div class="col-lg-9">
                    <select class="form-control form-control-sm"  name="application_path" id="application_path">
                        <option selected disabled>Select option</option>
                        <option>BLA under 351(a)</option>
                        <option>BLA under 351(k)</option>
                        <option>NDA under 505(b)(1)</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="p-3"></div>
        <div class="container review">
            <div class="row">
                <div class="col-lg-6 custom-control custom-radio">
                    <input type="radio" name="review"  value="Priority Review" id="radio1" class="custom-control-input">
                    <label class="custom-control-label" for="radio1">Priority Review</label>
                </div>
                <div class="col-lg-6 custom-control custom-radio">
                    <input type="radio" name="review" value ="Standard Review" id="radio2" class="custom-control-input">
                    <label class="custom-control-label" for="radio2">Standard Review</label>
                </div>

            </div>
        </div>

        <div class="p-3"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <label for="bla_number">BLA #:</label>
                </div>
                <div class="col-lg-3">
                    <input id="bla_number" name="bla_number" type="text" placeholder="BLA #"
                           class="form-control form-control-sm">
                </div>
                <div class="col-lg-3">
                    <label for="applicant_name">Applicant name:</label>
                </div>
                <div class="col-lg-3">
                    <input id="applicant_name" name="applicant_name" type="text" class="form-control form-control-sm">
                </div>
            </div>
            <div class="p-3"></div>
            <div class="row">
                <div class="col-lg-3">
                    <label>Proprietary name:</label>
                </div>
                <div class="col-lg-3">
                    <input type="text" name="proprietary_name" id="proprietary_name" class="form-control form-control-sm">
                </div>
                <div class="col-lg-3">
                    <label>Non-Proprietary name/USAN:</label>
                </div>
                <div class="col-lg-3">
                    <input type="text" name="nonproprietary_name" id="nonproprietary_name" class="form-control form-control-sm">
                </div>
            </div>
            <div class="p-3"></div>
            <div class="row">
                <div class="col-lg-3">
                    <label>OBP systematic name:</label>
                </div>
                <div class="col-lg-3">
                    <input type="text" name="obp_systematic_name"  id ="obp_systematic_name" class="form-control form-control-sm">
                </div>
                <div class="col-lg-3">
                    <label>Dosage form:</label>
                </div>
                <div class="col-lg-3">
                    <input type="text" name="dosage_form" id ="dosage_form" class="form-control form-control-sm">
                </div>
            </div>
            <div class="p-3"></div>
            <div class="row">
                <div class="col-lg-3">
                    <label>Strength potency:</label>
                </div>
                <div class="col-lg-3">
                    <input type="text" name ="strength_potency" id ="strength_potency" class="form-control form-control-sm">
                </div>
                <div class="col-lg-3">
                    <label>Route administration:</label>
                </div>
                <div class="col-lg-3">
                    <input type="text"  name="route_administration" id ="route_administration" class="form-control form-control-sm">
                </div>
            </div>
            <div class="p-3"></div>
            <div class="row">
                <div class="col-lg-3">
                    <label>Primary Assessor:</label>
                </div>
                <div class="col-lg-3">
                    <input type="text" name="primary_assessor" id="primary_assessor" class="form-control form-control-sm">
                </div>
                <div class="col-lg-3">
                    <label>Seconday Assessor:</label>
                </div>
                <div class="col-lg-3">
                    <input type="text" name="secondary_assessor" id="secondary_assessor" class="form-control form-control-sm">
                </div>
            </div>

        </div>

    <!-- Selection -->
    <div class="p-3"></div>
    <div class="container review">
        <div class="row">
            <div class="col-lg-6">
                <input type="checkbox" name="drug" id="1"  >
                <label>Orphan Drug</label>
            </div>
            <div class="col-lg-6">
                <input type="checkbox" name="drug" id="2" >
                <label>Breakthrough Therapy Designation</label>
            </div>

        </div>
    </div>

    <!-- Review Iterations -->


    <div class="review container">           <!-- divider for review iterations starts -->
        <h6>
            Review cycle
        </h6>
        <div class="p-3"></div>
        <div class="row">
            <div class="col-lg-4">
                <label>Review Iteration</label>
            </div>
            <div class="col-lg-4">
                <label>Reviewer Decision</label>
            </div>
            <div class="col-lg-4">
                <label>Submission Date</label>
            </div>
        </div>
        <div class="p-3"></div>
        <div class="row">
            <div class="col-lg-4">
                <select name="review_iteration" id="review_iteration" class="form-control form-control-sm">
                    <option>Original Review</option>
                    <option>Secondary Review</option>
                    <option>Third Review</option>
                </select>
            </div>
            <div class="col-lg-4">
                <select  name="reviewer_decision" id="reviewer_decision" class="form-control form-control-sm">
                    <option>IR</option>
                    <option>DRL</option>
                    <option>Inadequate Minor</option>
                    <option>Inadequate Major</option>
                    <option>Adequate</option>
                </select>
            </div>
            <div class="col-lg-4">
                <input name="submission_date" id="submission_date" type="date" class="form-control form-control-sm">
            </div>
            <div class="p-3"></div>
        </div>


    </div>
<div class="container">
    <div class="col-lg-12">
        <button type="submit" class="btn btn-primary form-control form-control-sm"  form="overviewForm" formaction="overview">
            <strong>Save</strong>
        </button>
    </div>
</div>
    </form>

<div class="p-3"></div>

    <a class="btn btn-primary btn-lg" style="display: block; margin-left:auto; margin-right: auto; margin-bottom:20px"
       role="button" href= "/kasaapp/riskeval/{{xyz}}">
        Continue
    </a>
</div>
<script>
function search() {
    let input = document.getElementById('searchbar').value
    input=input.toLowerCase();
    let x = document.getElementById('applicant_name');

    for (i = 0; i < x.length; i++) {
        if (!x[i].innerHTML.toLowerCase().includes(input)) {
            x[i].style.display="none";
        }
        else {
            x[i].style.display="list-item";
        }
    }
}


</script>
</body>

</html>
