<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
            integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
            crossorigin="anonymous"></script>

    <title>KASA BLA</title>
    <style>
    #kasasearch{
    margin: auto;
    text-align:center;
    }
.unitbuttons{
    margin-left: 170px;
    margin-bottom:20px;
}
ul{
    list-style-position: inside;
    margin: 0;
    padding: 2px;
}

}
.title
{  margin:auto;
   text-align: center;
   margin-bottom: 2em;
   margin-top: 0.5em;
   }
.textboxtitle{
        border-style: outset;
        box-shadow: 10px 10px 5px grey;
        text-align: center;
        background-color: dodgerblue;
        border-radius: 7px;
        width: 100%;
        margin-bottom: 40px;
        margin-top: 40px;
        }

.review{
      border-style: outset;
      box-shadow: 10px 10px 5px grey;
      text-align: center;
      background-color: #d7d7d7;
      width: 80%;
      margin-top: 2em;
      margin-bottom: 2.5em;
      margin-left: 100px;
}
.reviewiteration{
      margin-top:20px;
      margin-bottom:20px;
      margin-left: 100px;
      margin-right: 20px;
}
.buttonselection{
      width:300px;
      height: 80px;
}
#draggable{
     text-align: center;
     cursor: move;
     list-style-type: none;
    }

.unitoperations{
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom:20px;
}


.blue_label {
  background-color: #5cbB5c;
  color: white;
  border: none;
  padding: 5px 5px;
}

.green_label{
background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 5px;
   text-align: center;
}


.red{
  background-color: red;
  color: white;
  border: none;
  padding: 5px 5px;
   text-align: center;

}

.orange_label{
    background-color: #ffc107;
    color: white;
  border: none;
  padding: 5px 5px;
   text-align: center;
      }

.buttondifferent {
  border: none;
  color: white;
  padding: 10px 14px;
  font-size: 10px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.buttondifferent:hover {
  background-color: Red;
}

.close1:hover{
    background-color: #dc3545; /* red */
	color: white
	cursor: pointer
	}
.Go_button:hover{
    cursor: pointer;
    background-color: #dc3545;;
    }

    .close1:hover{
    background-color: #dc3545; /* red */
	color: white
	cursor: pointer
	}
.Go_button:hover{
    cursor: pointer;
    background-color: #dc3545;;
    }


    </style>

    <script>
    function descriptors(){
        var chromatography= document.getElementById("chromatography");
        var lowph = document.getElementById("lowph");
        var uf_df = document.getElementById("uf_df");
        var viral_filtration = document.getElementById("viral_filtration");
        var thawexpansion = document.getElementById("thawexpansion");
        var harvest = document.getElementById("harvest");
        var prod_bioreactor = document.getElementById("prod_bioreactor");
        var seed_bioreactor = document.getElementById("seed_bioreactor");
        var viral_inactivation = document.getElementById("viral_inactivation");

        chromatography.style.display = "none";
        lowph.style.display = "none";
        uf_df.style.display = "none";
        viral_filtration.style.display = "none";
        thawexpansion.style.display = "none";
        harvest.style.display = "none";
        prod_bioreactor.style.display = "none";
        seed_bioreactor.style.display = "none";
        viral_inactivation.style.display = "none";
    }
    function display(){
        if ("{{unitop_text}}" === "Cell Culture - Seed Bioreactor") {
            descriptors();
            seed_bioreactor.style.display = "table-row";
            console.log("selected");
        } else if ("{{unitop_text}}" === "Cell Culture - Vial thaw and inoculation expansion") {
            descriptors();
            thawexpansion.style.display = "table-row";
        } else if ("{{unitop_text}}" === "Cell Culture - Production Bioreactor") {
            descriptors();
            prod_bioreactor.style.display= "table-row";
        } else if ("{{unitop_text}}" === "Cell Culture - Harvest") {
            descriptors();
            harvest.style.display = "table-row";
        } else if ("{{unitop_text}}" === "Ultrafiltration/Diafiltration") {
            descriptors();
            uf_df.style.display = "table-row";
        } else if ("{{unitop_text}}" === "Viral Filtration") {
            descriptors();
            viral_filtration.style.display = "table-row";
        } else if ("{{unitop_text}}" === "Virus inactivation - Low pH") {
            descriptors();
            lowph_descriptor.style.display = "table-row";
        } else if ("{{unitop_text}}" === "--Select Unit Operation--") {
            descriptors();
        } else {
            descriptors();
            chromatography.style.display = "table-row";
        }
    }
 function chartFn(){
 if(window.myChart != undefined)
    window.myChart.destroy();
    var ctx =  document.getElementById('chart');
    window.myChart = new Chart(ctx, {
       type: 'bar',
       data: {
        labels: ['Characterization range', 'Validation range', 'PAR'],
        datasets: [
        {
        label: 'Low',
        data:[({{charac_range_low}}),({{valid_range_low}}), ({{par_range_low}})],
         backgroundColor: "rgba(0, 0, 0, 0)",

         },
         {
        label: 'High',
        data:[({{charac_range_high}}-{{charac_range_low}}),({{valid_range_high}}-{{valid_range_low}}),({{par_range_high}}-{{par_range_low}})],
        backgroundColor: '#ff9f40' ,
         },

       ]
       },
       options: {
        tooltips: {
         enabled: false,
        },
       scales: {
        xAxes: [{ stacked: true }],
        yAxes: [{ stacked: true }]
        }
        }

    });
    $(".chart-container").toggle();
}

function final_risk() {
       var  tagged_processparameter = document.getElementById("tagged_processparameter");
       var reviewer_risk = document.getElementById("reviewer_risk");
       var final_parrange = document.getElementById("final_parrange");
        var reporting_category = document.getElementById("reporting_category")
        var category = document.getElementById("category");
        var finalrisk = document.getElementById("finalrisk");
        var finalrisk_fr = finalrisk.options[finalrisk.selectedIndex].text;

        if (finalrisk_fr === "Low risk") {
            category.innerHTML = "non-CPP (low risk) reporting via AR";


        } else if (finalrisk_fr === "Medium risk") {
            category.innerHTML = "CPP/KPP (EC reporting via CBE-30)";

        } else {
            category.innerHTML = "CPP/KPP (EC reporting via PAS)";

        }
}

function exportHTML(){
       var header = "<html xmlns:o='urn:schemas-microsoft-com:office:office' "+
            "xmlns:w='urn:schemas-microsoft-com:office:word' "+
            "xmlns='http://www.w3.org/TR/REC-html40'>"+
            "<head><meta charset='utf-8'><title>Process parameter Summary </title></head><body>";
       var footer = "</body></html>";
       var sourceHTML = header+document.getElementById("source-html").innerHTML+footer;

       var source = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(sourceHTML);
       var fileDownload = document.createElement("a");
       document.body.appendChild(fileDownload);
       fileDownload.href = source;
       fileDownload.download = 'BLA#summary.doc';
       fileDownload.click();
       document.body.removeChild(fileDownload);
    }
    </script>


</head>
<body onload="javascript:display()" id="source-html">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="index.html">KASA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="index.html" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Home
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="overview">Overview</a>
                    <a class="dropdown-item" href="riskeval">Risk Evaluation</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="summary">Risk Summary</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Save<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" type="button" onclick="exportHTML();">Print<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Validate<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Finalize<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="mailto:youremail@example.com">Email</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Submit<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Audit</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

</nav>
<div class="p-3"></div>
<h4 class="textboxtitle">Summary</h4>
{% for data in riskeval_data %}
<table class="table table-bordered">
    <thead>
    <tr>
        <th colspan="12" style="text-align: center" id="unitoperation"> Unit operation: {{data.unitop_text}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th colspan="12" style="text-align:center">Descriptors:</th>
    </tr>
    <tr id="chromatography" style="display: none">
        <td colspan="2"><strong>Bind & Elute or Flowthrough: </strong>{{data.chrom_descr_1}}</td>
        <td colspan="2"><strong>Resin Type and Manufacturer: </strong>{{data.chrom_descr_2}}</td>
        <td><strong>Column Dimension: </strong>{{data.Chromatography_descriptor3}}</td>
        <td><strong>Microbiological Hold Time: </strong>{{data.Chromatography_descriptor4}}</td>
        <td><strong>Biochemical Hold Time: </strong>{{data.Chromatography_descriptor5}}</td>
        <td><strong>Max Cycles per batch: </strong>{{data.Chromatography_descriptor6}}</td>
        <td><strong>Start Collection Criteria: </strong>{{data.Chromatography_descriptor7}}</td>
        <td><strong>Stop Collection Criteria: </strong>{{data.Chromatography_descriptor8}}</td>
        <td colspan="2"><strong>In-process Tests: </strong>{{data.Chromatography_descriptor9}}</td>
    </tr>
    <tr id="lowph" style="display:none">
        <td colspan="2.4"><strong>Acid Used for adjustment: </strong>{{data.lowph_acid}} {{data.acid_unit}}</td>
        <td colspan="2.5"><strong>Base used for Neutralization: </strong>{{data.lowph_base}} {{data.base_unit}}</td>
        <td colspan="2.5"><strong>Microbiological Hold time: </strong>{{data.lowph_mht}}
            {{data.micro_holdtime_lowph_unit}}
        </td>
        <td colspan="2.5"><strong>Biochemical Hold Time: </strong>{{data.lowph_bht}}
            {{data.biochem_holdtime_lowph_unit}}
        </td>
        <td colspan="3"><strong>In-process Tests: </strong>{{data.lowph_ipt}} {{data.inprocess_lowph_unit}}</td>
    </tr>
    <tr id="uf_df" style="display:none">
        <td colspan="4"><strong>Membrane Type: </strong>{{data.uf_df_membrane_type}} {{data.membrane_unit}}</td>
        <td colspan="4"><strong>Microbiological Hold Time: </strong>{{data.uf_df_mht}} {{data.micro_holdtime_unit}}</td>
        <td colspan="4"><strong>Biochemical Hold Time: </strong>{{data.uf_df_bht}} {{data.biochem_holdtime_unit}}</td>
        <td colspan="4"><strong>In-process Tests: </strong>{{data.uf_df_ipt}} {{data.inprocess_unit}}</td>
    </tr>
    <tr id="viral_filtration" style="display:none">
        <td colspan="4"><strong>Filter type and vendor: </strong>{{data.fil_filter_type}} {{data.fil_filter_unit}}</td>
        <td colspan="4"><strong>Filter material composition: </strong>{{data.fil_filter}} {{data.filter_unit}}</td>
        <td colspan="4"><strong>In-process Tests: </strong>{{data.fil_ipt}} {{data.inprocess_viral_unit}}</td>
    </tr>
    <tr id="thawexpansion" style="display:none">
        <td colspan="3"><strong>Cell type: </strong>{{data.thaw_celltype}} {{data.celltype_unit}}</td>
        <td colspan="3"><strong>Vessel Volume: </strong>{{data.thaw_vessel_type}} {{data.vessel_unit}}</td>
        <td colspan="3"><strong>Expansion Type: </strong>{{data.thaw_expansion_type}} {{data.expansion_unit}}</td>
        <td colspan="3"><strong>In-process Tests: </strong>{{data.thaw_ipt}} {{data.inprocess_thaw_unit}}</td>
    </tr>
    <tr id="harvest" style="display:none">
        <td colspan="12"><strong>Harvest type: </strong>{{data.harvest_descriptor}} {{data.harvest_type_unit}}</td>
    </tr>
    <tr id="prod_bioreactor" style="display:none">
        <td colspan="3"><strong>Vessel Volume: </strong>{{data.prodbio_vessel_volume}} {{data.vessel_volume_unit}}</td>
        <td colspan="3"><strong>Composition: </strong>{{data.prodbio_composition}} {{data.composition_unit}}</td>
        <td colspan="3"><strong>Media Type: </strong>{{data.prodbio_media_type}} {{data.media_type_unit}}</td>
        <td colspan="3"><strong>In-process Tests: </strong>{{data.prodbio_ipt}} {{data.prodbioinprocess_unit}}</td>
    </tr>
    <tr id="seed_bioreactor" style="display:none">
        <td colspan="4"><strong>Composition: </strong>{{data.seedbio_comp}} {{data.seedbio_composition_unit}}</td>
        <td colspan="4"><strong>Media Type: </strong>{{data.seedbio_mediatype}} {{data.seedbio_media_unit}}</td>
        <td colspan="4"><strong>In-process Tests: </strong>{{data.seedbio_ipt}} {{data.seedbio_inprocess_unit}}</td>
    </tr>
    <tr id="viral_inactivation" style="display:none">
        <td colspan="4"><strong>Microbial Hold time: </strong>{{data.Chromatography_descriptor1}}</td>
        <td colspan="4"><strong>Biochemical Hold time: </strong>{{data.Chromatography_descriptor2}}</td>
        <td colspan="4"><strong>In-process Tests: </strong>{{data.seedbio_ipt}} {{data.data.seedbio_inprocess_unit}}
        </td>
    </tr>

    <tr>
        <th colspan="12" style="text-align: center"> Established conditions proposed? YES <input type="checkbox" id="conditioncheck_yes">
            NO <input type="checkbox" id="conditioncheck_no">
        </th>
    </tr>
    <tr>
        <th rowspan="2" style="text-align: center">Process parameter</th>
        <th colspan="2" style="text-align: center">Operating range</th>
        <th colspan="2" style="text-align: center">Qualification range</th>
        <th colspan="2" style="text-align: center">Validation range</th>
        <th rowspan="2" style="text-align: center">Preliminary risk</th>
        <th colspan="2" style="text-align: center">Final parameters</th>
        <th colspan="2" style="text-align: center">Final recommendations</th>
    </tr>
    <tr style="text-align: center">
        <td><strong>Min</strong></td>
        <td><strong>Max</strong></td>
        <td><strong>Min</strong></td>
        <td><strong>Max</strong></td>
        <td><strong>Min</strong></td>
        <td><strong>Max</strong></td>
        <td><strong>Class</strong></td>
        <td><strong>Risk tier</strong></td>
        <td><strong>EC?</strong></td>
        <td><strong>Reporting Category</strong></td>

    </tr>
    <tr>
        <td>{{data.procname_text}}</td>
        <td>{{data.charac_range_low}}</td>
        <td>{{data.charac_range_high}}</td>
        <td>{{data.valid_range_low}}</td>
        <td>{{data.valid_range_high}}</td>
        <td>{{data.par_range_low}}</td>
        <td>{{data.par_range_high}}</td>
        <td style="text-align:center; background-color: #28a745">
            {% if preliminaryrisk != None %}
            <label id="preliminary">{{data.preliminaryrisk }}</label>
            {% endif %}
            {% if preliminaryrisk1 != None %}
            <label id="preliminary1">{{data.preliminaryrisk1 }}</label>
            {% endif %}
            {% if surpreliminaryrisk != None %}
            <label id="surpreliminaryrisk">{{data.surpreliminaryrisk }}</label>
            {% endif %}
                {% if surpreliminaryrisk2 != None %}
            <label id="surpreliminaryrisk2">{{data.surpreliminaryrisk2 }}</label>
                {% endif %}

        </td>
        <td>None</td>
        <td>
            <select class="form-control form-control-sm" id="finalrisk" onchange="final_risk()">
                <option selected disabled value="default">--Select--</option>
                        <option value="low">Low risk</option>
                        <option value="medium">Medium risk</option>
                        <option value="high">High risk</option>
            </select>
        </td>
        <td></td>
        <td id="category">

        </td>

    </tr>
    <tr>
        <th style="text-align: center">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#comments"
                    aria-expanded="false" aria-controls="comments">
                Comments
            </button>
        </th>
        <td colspan="12" style="color: DodgerBlue; text-align: center">
            <div class="collapse" id="comments">
                <strong>Process parameter comment: </strong> {{data.proc_comment}}<br/>
                <strong>Risk ranking comment:</strong> {{data.app_risk}}<br/>
                <strong>OBP risk comment:</strong> {{data.obp_risk_comment}}<br/>
            </div>
        </td>
    </tr>
    <tr style="text-align: center">
        <th>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#ircomments"
                    aria-expanded="false" aria-controls="ircomments">
                IR
            </button>
        </th>
        <td colspan="12" style="color: DodgerBlue; text-align: center">
            <div class="collapse" id="ircomments">
                Unit operation: {{data.unitop_ircomments}}<br/>
                Process parameter: {{data.procir_ircomments}}<br/>
                Applicant risk ranking: {{data.apprisk_ircomments}}<br/>
                OBP risk ranking: {{data.obprisk_ircomments}}<br/>
                Process parameter characterization: {{data.characir_comments}}<br/>
                Characterization appropriate: {{data.appro_charac_ircomments}}<br/>
                Characterization range: {{data.charac_range_ircomments}}<br/>
                Validation appropriate: {{data.val_ircomments}}<br/>
                Validation range: {{data.valrange_ircomments}}<br/>
                Proposed PAR range: {{data.par_ircomments}}<br/>
                Acceptability of PAR: {{data.prop_par_ircomments}}<br/>
            </div>


        </td>


    </tr>
    <tr>
        <th> <button class="btn btn-success form-control form-control-sm" onclick="chartFn()"> Graph</button> </th>
        <td class="chart-container" colspan="12">
            <canvas id="chart"></canvas>
        </td>
    </tr>


    </tbody>


</table>
{% endfor %}

</body>
</html>